@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------------------------------body---------------------------*/
body {
    height: auto;
    width: 100%;
    padding: 0;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
/*-----------------------------------------Make Images Responsive------------*/
.img-fluid {
  max-width: 100%;
  height: auto;
  width: 100% \9
}

/*-------------------------------------------Navigation Bar and Header-----------*/

.businessname h1 {

  font-family: 'Dancing Script', cursive;
  font-size: 70px;
}

.logo img {

  border-radius: 8px;
  margin-top: 3px;
  margin-left: -10px;
  border: 8px solid #fff;
}

.navbar ul li:hover {
  background-color: purple;
  transition: 1s;
}
/*-------------------------------------------featured-items-----------*/
.featured-items {
  font-size: 30px;
}

.productimages img {
  width: 300px; 
  height: 300px;
  object-fit: cover;
}
/*-------------------------------------------About us-----------*/
.about ul  {
  max-width:21%;
    margin: auto;
    text-align: left;
}
/*-------------------------------------------Shop-----------*/
.coasters img {
  width: 200px; 
  height: 200px;
  object-fit: cover;
  
}
/*-------------------------------media queries------------------------*/

@media screen and (max-width: 920px) {

header {
  padding-left: -20;
}
.businessname h1 {
font-size: 30px;
margin-right: 30px;

}
.logo img {
  height: 90px;
  width: 90px;
  margin-right: 20px;
}
.welcome-message h5{
  font-size: 8px;
  }
  .welcome-message {
    margin-left: 1px;
  }
  .featured-items {
    font-size: 20px;
    margin-right: 30px;
}
.productimages img {
  width: 100px; 
  height: 100px;
  object-fit: cover;
  
}
.productimages {
  font-size: 20px;
}
.productimages h5 {
  font-size: 10px;
}
.about p{
  font-size: 10px;
}
.about ul{
  max-width:100%;
    margin: auto;
    text-align: left;
}
.about ul li{
  font-size: 10px;
}
.coasters img {
  width: 60px; 
  height: 60px;
}
.items h5 {
  font-size: 10px;
}
.caption {
  font-size: 8px
}
.menu {
  width: 100%;
}
}